# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~
*.sass-cache

# OS or Editor folders
Thumbs.db
.cache
.project
.settings
.tmproj
*.esproj
*.sublime-project
*.sublime-workspace

# Dreamweaver added files
_notes
dwsync.xml

# Komodo
*.komodoproject
.komodotools

# Folders to ignore
.hg
.svn
.CVS
intermediate
publish

# build script local files
build/buildinfo.properties
build/config/buildinfo.properties

#kohana settings
Icon?
code_coverage
coverage
kohana_release
build
application/config/*
application/cache/*

#composer vendor
vendor
#composer binary
bin


index.html
!templates/assets/js/vendor
config/*
!config/*.template.php
storage
cache/*