{{>header}}
<div class="container">
    {{#failed}}
    <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        {{#errors}}
        <p>{{.}}</p>
        {{/errors}}
    </div>
    {{/failed}}
    {{^failed}}
    <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <p>{{username}} successfully activated</p>
    </div>
    {{/failed}}
</div>
{{>footer}}