<div class="panel panel-default">
    <div class="panel-body">
        <form role="form" action="/account/login" method="POST">
        <input type="hidden" name="csrfToken" value="{{{csrfToken}}}">

            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" name="username" class="form-control" id="username" value="{{username}}"
                       placeholder="Username">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" name="password" class="form-control" value="{{password}}" id="password"
                       placeholder="Password">
            </div>
            <button type="submit" name="login" class="btn btn-default">Login</button>
        </form>
    </div>
</div>

