<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <ul class="nav navbar-nav">
            <li><a href="game/city/list">Overview</a></li>
        </ul>
    </div>
</nav>