/* ----------------------------------------------------
   created with http://www.texturepacker.com 
   ----------------------------------------------------
   $TexturePacker:SmartUpdate:8c324f2b5ed446409ac78db8768369b0$
   ----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/

.sprite {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(atlas.png);}

.forrest {width:128px; height:64px; background-position: -0px -128px}
.gras{width:128px; height:64px; background-position: -0px -64px}
.sea {width:128px; height:64px; background-position: -0px -0px}
