/* ----------------------------------------------------
   created with http://www.texturepacker.com 
   ----------------------------------------------------
   $TexturePacker:SmartUpdate:8c324f2b5ed446409ac78db8768369b0$
   ----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/

.sprite {
    display: inline-block;
    overflow: hidden;
    background-repeat: no-repeat;
    background-image: url(atlas.png);
}

.gras {
    background-image: none;
   /*background-position: -0px -0px*/ background: #449d44;

}

.sea {
    background-image: none;
  /*  background-position: -128px -0px*/ background: #269abc;

}

.forrest {
    background-image: none;
   /* background-position: -256px -0px*/background: #2b542c;

}

.hill {
  /*  background-position: -384px -0px*/ background: #66512c;
    background-image: none;
}

.city1 {
    background-position: -0px -180px;
}