.sprite {
    background-image: url(../img/tilemap.png);
    overflow: hidden;
    text-align: center;

    color: white;

    width: 128px;
    height: 74px;
    background-repeat: no-repeat;
}
.sprite.gras{
    background-image: none;
}
.sprite.sea{
    background-image: none;
}
.sprite.forrest{
    background-image: none;
}
.sprite.hill{
    background-image: none;
}
#viewport {
    overflow: hidden;
    position: relative;
    margin: auto;
    padding: 0;
    border: 1px solid black;
}

.map-arrow {

    font-size: 3em;
    cursor: pointer;

}

.map-arrow:hover {
    text-decoration: none;
}

.sprite.city > .city-info {
    display: block;
    position: absolute;
    bottom: 0;
    cursor: pointer;
}

.sprite.city > div.info {
    display: none;
    position: absolute;
    bottom: 0;
    color: black;

}

.sprite.city:hover > div.info {
    display: block;
}