.sprite{
    background-image: url(../img/tilemap.png);
    overflow: hidden;
    text-align: center;

    color:white;

    width:128px;
    height:128px;
    margin-top:-54px;
    background-repeat: no-repeat;
}

#viewport{
    overflow: hidden;
    position: relative;
    margin: auto;
    padding: 0;
    border:1px solid black;
}
.map-arrow{

    font-size: 3em;
    cursor: pointer;

}
.map-arrow:hover{
    text-decoration: none;
}
.sprite.city a{
    display: block;
    position: absolute;
    bottom: 0;
}
.sprite.city > div.info{
    display: none;
    position: absolute;
    bottom: 0;
    color:black;

}
.sprite.city:hover > div.info{
    display:block;
}