{{>header}}
{{>navigation/game/top}}
<div class="container">
    <div class="panel panel-default">
       
            <div id="viewport" class="panel-body" style="width:{{width}}px;height:{{height}}px">
            </div>
        
    </div>
</div>
{{>footer}}