{{>header}}
{{>navigation/game/top}}
<div class="container">
    <div class="panel panel-default">
        <div class="panel-body">
            Select direction for new city
            <form method="POST" action="game/start">
                <input type="hidden" name="csrfToken" value="{{{csrfToken}}}">
                {{#directions}}
                <input type="radio" name="direction" {{#selected}}checked="checked"{{/selected}} value="{{name}}"> {{name}}<br/>
                {{/directions}}
                <button class="btn btn-default" type="submit" name="select">Start Game</button>
            </form>
        </div>
    </div>
</div>
{{>footer}}


